<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="BookStoreDB"
			 connectionString="Data Source=tfs.cs.uwindsor.ca;Initial Catalog=Agile1422DB25;User ID=Agile1422U25;Password=Agile1422U25$;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
