<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="BookStoreRemote"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=tfs.cs.uwindsor.ca;
                         Initial Catalog=Agile1422DB25;
                         Persist Security Info=True;
                         User ID=%AGILE_DB_USER%;
                         Password=%AGILE_DB_PASSWORD%;
                         Encrypt=True;
                         TrustServerCertificate=True" />
	</connectionStrings>


</configuration>